@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@400;500;700&display=swap');
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Space Grotesk', sans-serif; */

@import url(./css/reset.css);

html {
	font-size: 16px;
}

body {
	font-family: 'Space Grotesk', sans-serif;
	max-width: 1920px;
	color: var(--color-black);
}

:root {
	--color-primary: radial-gradient(
			127.68% 423.02% at 31.82% -13.39%,
			#ff9b00 12.5%,
			#ed1c24 100%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

	--color-bg: #f7f5ed;
	--color-brand-1: #0000ff;
	--color-brand-2: #ed1c24;
	--color-brand-3: #ff9b00;
	--color-black: #060919;
	--color-white-1: #ffffff;
	--color-white-2: #fafafa;
	--color-grey-1: #3e4150;
	--color-grey-2: #6c7188;
	--color-grey-3: #dadce2;
	--color-blue: #2563eb;
	--color-green: #14a800;
	--color-yellow: #ffc947;
}

h1 {
	font-weight: 700;
	font-size: 100px;
	line-height: 100px;
}
h2 {
	font-weight: 700;
	font-size: 4rem;
	line-height: 1.12;
}
h3 {
	font-weight: 500;
	font-size: 3rem;
	line-height: 1.25;
}
h4 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.31;
}

@media (max-width: 1024px) {
	html {
		font-size: 12px;
	}

	h1 {
		font-size: 58px;
		line-height: 1.24;
	}

	h2,
	h3 {
		font-size: 3rem;
		line-height: 1.28;
	}
}
